{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paras Bookwallah</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="shotcut icon" href="{% static '/img/pb_logo.jpg' %}" type="image/x-icon">

</head>
<body>
    <header>
        <div class="navbar" >
            <div class="nav-logo">
                <div class="logo"> <span class="span1">Paras</span>Bookwallah</div>
            </div>

            <div class="nav-search">
                <input placeholder="Search Books" class="search-input">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>

            <div class="nav-singin border">
                <p><span>Sign in</span></p>
                <p class="nav-sec">Account & Lists</p>
            </div>

            <div class="nav-return border">
                <p class="nav-sec"> Orders </p>
            </div>

            <div class="nav-cart border">
                <i class="fa-solid fa-cart-plus" style="color: red"></i>
                Cart
            </div>
        </div>

        <div class="panel">
            <div class="panel-ops">
                <p>New Books</p>
                <p>Preownd Books</p>
                <p>Today's Deals</p>
                <p>Sell</p>
            </div>
            <div class="panel-deals">
                Rs.99/- Books
            </div>
        </div>
    </header>

    <div class="hero-section"></div>

    <div class="shop-section">
        <div class="box">
            <div class="box-content">
                <h2>Kid's Books</h2>
                <div class="box-img" style="background-image: url('{% static "/img/kids_book.jpg" %}')"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Children's Books</h2>
                <div class="box-img" style="background-image: url('{% static "/img/children_book.jpg" %}')"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Classic's Books</h2>
                <div class="box-img" style="background-image: url('{% static "/img/classics_book.jpg" %}')"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Non-Fiction's Books</h2>
                <div class="box-img" style="background-image: url('{% static "/img/non-fic_book.jpg" %}')"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Biography's Books</h2>
                <div class="box-img" style="background-image: url('{% static "/img/biography_books.jpg" %}')"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Fiction's Books</h2>
                <div class="box-img" style="background-image: url('{% static "/img/fic_book.jpg" %}')"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Romance's Books</h2>
                <div class="box-img" style="background-image: url('{% static "/img/romance_book.jpg" %}')"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Comic's</h2>
                <div class="box-img" style="background-image: url('{% static "/img/comic.jpg" %}')"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Coffee-Table Books</h2>
                <div class="box-img" style="background-image: url('{% static "/img/coffee_table_books.jpg" %}')"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Vintage Books</h2>
                <div class="box-img" style="background-image: url('{% static "/img/vintage_book.jpg" %}')"></div>
                <p>See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2>Book's Box Set</h2>
                <div class="box-img" style="background-image: url('{% static "/img/book_box_set.jpg" %}')"></div>
                <p>See more</p>
            </div>
        </div>
    </div>

    <footer>
        <div class="foot-panal1">
            <a href="#">Back to Top</a>
        </div>

        <div class="foot-panal2">
            <div class="footer">
                <img class="footer-img" src="{% static '/img/pb logo.jpg' %}" alt="">     
            </div>
            <ul>
                <p>Get to Know Us</p>
                <a>About Us</a>
                <a>Sell with Us</a>
                <a>Bookchor Wholesale</a>
                
            </ul>
            <ul>
                <p>Connect with Us</p>
                <a>Facebook</a>
                <a>Instagram</a>
                <a>WhatsApp</a>
            </ul>
            <ul>
                <p>Support</p>
                <a>Call : 9833789592</a>
                <a>Email : parasbookwallah@gmail.com</a>
            </ul>
        </div>
        <div class="foot-panal4">
            <div class="pages">
                <a>Condition of Use</a>
                <a>Privacy Notice</a>
                <a>Your Ads Privacy Choices</a>
            </div>
            <div class="copyright">
                © 1996-2024,Inc. or its affiliates
            </div>
        </div>
    </footer>
</body>
</html>